@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-olive: #4F7379;
  --color-brand-parchment: #F4F7F7;
  --color-brand-ink: #2D3436;
  --color-brand-subtle: #8E9EA2;
  --color-brand-orange: #D99B82;
  --color-brand-line: #D1DADD;
}

@layer base {
  body {
    @apply bg-brand-parchment text-brand-ink font-sans antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
}
